<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Match History</title>
</head>
<body>
<h1>Match History</h1>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Winner</th>
        <th>Loser</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="match : ${matches}">
        <td th:text="${match.createdAt != null ? #dates.format(match.createdAt, 'yyyy-MM-dd') : 'N/A'}">Date</td>
        <td>
            <span th:text="${match.winnerName}">Winner</span>
            <br/>
            <span th:text="${match.ratingChange}"></span>
            <span th:text="${match.ratingChange.winnerRatingChange}"></span>
        </td>
        <td>
            <span th:text="${match.loserName}">Loser</span>
            <br/>
            <span th:text="${match.ratingChange.loserRatingChange}"></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
