<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Elo Ranking</title>
</head>
<body>
<header>
    <nav class="header-nav">
        <ul class="header-list">
            <li class="header-item">
                <a href="./elo-ranking.html" class="header-link">Main</a>
            </li>
            <li class="header-item">
                <a href="./match-history.html" class="header-link header-link-active">Match History</a>
            </li>
        </ul>
    </nav>
</header>


<main>
    <h1>Match History</h1>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Outcome</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="match : ${matches}">
            <td th:text="${#dates.format(match.date, 'yyyy-MM-dd')}">2024-10-05</td>
            <td th:text="${match.player1.name}">Player 1</td>
            <td th:text="${match.player2.name}">Player 2</td>
            <td th:text="${match.outcome}">Player 1 Wins</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
