<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Match History</title>
</head>
<body>
<nav class="header-nav">
    <ul class="header-list">
        <li class="header-item">
            <a href="/players" class="header-link header-link-active">Main</a>
        </li>
    </ul>
</nav>

<h1>Match History</h1>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Winner</th>
        <th>Loser</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="match : ${matches}">
        <td th:text="${match.createdAt != null ? #dates.format(match.createdAt, 'yyyy-MM-dd') : 'N/A'}">Date</td>
        <td>
            <span th:text="${match.winnerName}">Winner</span>
            <br/>
            <span th:text="${match.ratingChange()}"></span>
        </td>
        <td>
            <span th:text="${match.loserName}">Loser</span>
            <br/>
            <span th:text="${-match.ratingChange()}"></span>
        </td>
        <td>
            <form th:action="@{/matches/cancel}" method="post">
                <input type="hidden" name="matchId" th:value="${match.matchId}"/>
                <button type="submit">Cancel Match</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
